<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> 593880.com 澳门新葡京,跨年盛宴，双旦狂欢</title>
<link rel="stylesheet" type="text/css" href="../static/css/css.css">
<script src="../static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../static/js/scroll.js"></script>
<script type="text/javascript" src="../static/js/lottery.js"></script>
<script type="text/javascript" src="../static/js/jquery.liMarquee.js" ></script>
<script type="text/javascript" src="../static/js/jsized.snow.min.js"></script>
<title></title>
</head>
<body>
{% csrf_token %}
<!-- 顶部 -->
<div class="top">
<div class="topcenter clearfix">
<a href="javascript:;" class="aImg">
<img src="../static/images/logo.png">
</a>
<ul class="clearfix">
<!--<li><a href="http://9830ww.com" target="_blank">进入官网</a></li>-->
<li><a href="http://jc9830.com" target="_blank">线路检测</a></li>
<li><a href="http://pay9830.com" target="_blank">快速充值</a></li>
<li><a href="http://vip9830.com/" target="_blank">VIP等级</a></li>
<li><a href="http://kf9830.com" target="_blank">在线客服</a></li>
<li><a href="javascript:;" class="queryBox">中奖查询</a></li>
<li><a href="http://dl9830.com" class="">加入我们</a></li>
</ul> 
</div>
</div>

<!-- 大转盘部分 -->
<div class="bannout">

<div id="main">

<div class="egg">
<div class="luneggs">
<ul class="eggList tutu" style="left: -714px;">
<p class="light" id="light" style="left: 0px;">光</p>
<p class="hammer" id="hammer" style="left: 130px;">锤子</p>
<!-- <p class="resultTip" id="resultTip"><b id="result"></b></p> -->
<div class="h"></div>
<li id="1" class="wzj"></li>
<li id="2" class="wzj"><span></span><sup></sup></li>
<li id="3" class="wzj"><span></span><sup></sup></li>
<li id="4" class="wzj"><span></span><sup></sup></li>

<li id="1" class="wzj"><span></span><sup></sup></li>
<li id="2" class="wzj"><span></span><sup></sup></li>
<li id="3" class="wzj"><span></span><sup></sup></li>
<li id="4" class="wzj"><span></span><sup></sup></li>
<div class="cl"></div>

</ul>
</div>
</div>

</div>

</div>

<div class="ggout">
<!--<a class="chabtn queryBox">
<img src="../roulette/../static/images/chabtn.png"/>
</a>-->
<span>最新公告</span>
<div class="mymarquee">{{ text }}</div>


</div>
<div class="showmain2">
<img src="../static/images/draw_list.png" class="drawImg"/>
<div class="gainlist">
<div class="list_ulin">
<div class="listul">
<ul id="lottery_list"> 

</ul>
<!-- <ul id="lottery_list22"> </ul>--> 

</div>
</div>
</div>

<img src="../static/images/r1.png" class="hImg" >
<div class="danone">
<p class="shuop">金猪贺岁 大吉大利 </p>
<p class="shuop">凡在活动时间内单日累计存款300+且打码达1000+的会员次日皆可参与幸 
运砸金蛋活动。 </p>
<p class="shuop">砸金蛋活动将在北京时间17：00-23：59开启，会员需在当天完成砸金蛋 
，逾期视为放弃活动资格;</p>
<p class="shuop">活动时间：北京时间2019年2月4号-2019年2月12号</p>
</div> 

<img src="../static/images/r2.png" class="hImg" >
<div class="danone">
<table class="nwtb">
<tr style="border: 1px solid #ffff04;">
<th width="16%">活动时间</th>
<th width="16%">单日累计打码</th>
<th>单日累计存款</th>
<th>砸蛋次数</th>
<th>打码要求</th>
<th>派送时间</th>
</tr>
<tr> 
<td rowspan="6" class="td_style">北京时间<br>2月4日<br>至<br>2月12日</td>
<td rowspan="6" style="font-weight: bold;">500+</td>
<td>300元+</td>
<td>1</td>
<td rowspan="6" style="font-weight: bold">一倍流水</td>
<td rowspan="6" class="td_style">当天活动结束<br>23点59前<br>自动派送</td>
</tr>
<tr>
<td>1000元+</td>
<td>3</td>
</tr>
<tr>
<td>1万元+</td>
<td>5</td>
</tr>
<tr>
<td>5万元+</td>
<td>8</td>
</tr>
<tr>
<td>10万元+</td>
<td>10</td>
</tr>
<tr>
<td>20万元+</td>
<td>20</td>
</tr>
</table>
</div>
<img src="../static/images/r3.png" class="hImg" >
<div class="danone activity_note">
<div class="note">1、此活动为【澳门新葡京】系统程序自动运行，获奖的概率完全遵循力学及自 
然概率，不涉及任何人工操作，中奖结果以系统判定为准，不得争议；</div>
<div class="note">2、数据采集是以活动时间内当日总有效投注加存款金额，来计算相对 
应的抽奖次数；</div>
<div class="note">3、每个IP只能允许一位会员抽奖，如发现会员同一个IP下注册多个账 
号进行投注抽奖，公司有权拒绝赠送其彩金并做账号冻结处理，保证正常玩家的利益；</div>
<div class="note">4、所有红利为随机派送, 如系统发生一些不可预测超出本站控制之外 
的技术错误, 或人为不可控制的因素, 则澳门新葡京保留最终处理权；</div>
<div class="note">5、玩家不可以使用多账户参加本次活动，同姓名的同存款方式、同ip 
、同电脑均视为同一账户，“澳门新葡京”在会员重复申请会员账号时保留取消、收回会员相关优惠；</div>
<div class="note">6、无论是个人或团体，如有任何威胁、滥用或使用不诚实方式套利的 
行为，经“澳门新葡京”风险部门审核，公司有权取消该会员所有优惠；</div>
<div class="note">7、无风险投注包括在同时投注庄家、闲家；轮盘同时投注黑色、红色 
，单、双， 大、小；在运动博弈中，对冲或打对，有以上行为均不给予优惠；</div>
<div class="note">8、本活动与其它优惠活动可同时享有；参与本活动视为您已经同意我 
司《优惠规则与条款》，澳门新葡京保留最终处理权；为避免文字上的理解差异,澳门新葡京保留最终解释权。</div> 

</div> 
</div>
<div class="lafoot">
<div class="zfoot">
<a href="http://www.9830hh.com/JudgeMemberAndAgentServlet? 
op=toPreviewEdoc&articleId=19936" target="_blank">关于我们</a>|
<a href="http://www.9830hh.com/JudgeMemberAndAgentServlet? 
op=toPreviewEdoc&articleId=20347" target="_blank">联系我们</a>|
<a href="http://www.9830hh.com/JudgeMemberAndAgentServlet? 
op=toPreviewEdoc&articleId=20047" target="_blank"> 合作伙伴</a>|
<a href="http://www.9830hh.com/JudgeMemberAndAgentServlet? 
op=toPreviewEdoc&articleId=19943" target="_blank">存款帮助</a>|
<a href="http://www.9830hh.com/JudgeMemberAndAgentServlet? 
op=toPreviewEdoc&articleId=19940" target="_blank">取款帮助</a>|
<a href="http://www.9830hh.com/JudgeMemberAndAgentServlet? 
op=toPreviewEdoc&articleId=20148" target="_blank">优惠规则与条款</a>|
<a href="http://www.9830hh.com/help" target="_blank">网站帮助</a> 
<br>
<p>Copyright ? 澳门新葡京 Reserved</p>
</div>
</div>
<!-- 未登录时要登录 -->
<div id="logBox" class="tanshow" style="display: none;">
<div class="tanbg"></div>

<div class="tanmainzh">
<p>输入账号</p>
<div class="text_box">

<div class="mt50"><input name="member_name" class="input" value="" id="login-na" 
placeholder="输入会员账号"></div>
<div class="mt10">
<button type="button" class="mt10 bet_btn" onclick="login()">登入抽奖</button>
</div>

</div>
</div>
</div> 

<!-- 中奖查询记录 -->
<div id="queryBox" class="tanshow" style="display:none;">
<div class="tanbg"></div>
<div class="tanmainzh" >
<a href="" id="closed"></a>
<p>中奖查询</p>
<h1 class="nanna"></h1>
<div class="ztxtout clearfix">
<input type="text" id="querycode" placeholder="输入会员账号" >
<a href="javascript:;" onclick="queryBtn()">查询</a> 
</div>
<table>
<tr>
<th>奖项</th>
<th>获奖时间</th>
<th>派送状态</th>
</tr> 
<tbody id="query_content">

</tbody>
</table>
<div class="page"></div>
</div> 
</div>


<!-- 弹窗 -->
<div id="awardBox" class="tanshow" style="display: none;">
<div class="tanbg"></div>
<div class="pop_box">
<!--<div class="pop_header">
<h2>温馨提示</h2>
<span class="close pop_close"></span>
</div>-->

<div class="pop_body">
<div class="pop_no_award" style="display: none;">
<div class="pop_stage">
<img src="../static/images/no_award.png" class="pop_egg"/>
<img src="../static/images/empty_font.png" class="pop_empty_font"/>
<img src="../static/images/light.png" class="pop_empty_light"/>
</div>
</div>
<div class="pop_award" style="display: none;">
<div class="pop_stage">
<img src="../static/images/color_ribbon.png" class="pop_ribbon"/>
<img src="../static/images/no_award.png" class="pop_award_egg"/>
<img src="../static/images/happy.png" class="pop_happy" />
<img src="" class="pop_award_money">
<img src="../static/images/pop_award_note.png" class="pop_award_note"/>
<img src="../static/images/light.png" class="pop_award_light"/>
</div>
</div>
</div>
</div>
</div>

<div id="msgBox" class="tanshow" style="display: none;">
<div class="tanbg"></div>
<div class="tanmainzh">
<a href="" id="closed"></a>
<p>温馨提示</p>
<div id="msg_html"></div>
</div>
</div>

<div style="display:none;">
<script language="javascript" src="">

</script>
</div>
</body>
</html>

<script>

$(function(){

$('.mymarquee').liMarquee();
/* createSnow('', 60);*/
$('.tanbg,#closed,.pop_close').click(function(){ 
$(this).parents('.tanshow').hide();
return false;
});
var H = $('.tanmain,tanmainzh').outerHeight();
$(window).scroll(function(){ 
$('.tanmain,tanmainzh').css({'height':H,'margin-top':-H/2});
})


$(".eggList li").hover(function () {
var posL = $(this).position().left + $(this).width() - 100;
var light_posl = $(this).position().left + $(this).width() - 234;
$("#hammer").show().css('left', posL);
$("#light").show().css('left', light_posl);
})


});

</script>

